// Colors

$white: hsl(0, 0%, 100%);
$light-gray: hsl(212, 45%, 89%);
$grayish-blue: hsl(220, 15%, 55%);
$dark-blue: hsl(218, 44%, 22%);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: $light-gray;
    font-size: 15px;
    font-family: 'Outfit', sans-serif;
}

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    background: none;
    cursor: pointer;
    font-family: inherit;
    font-size: inherit;
}